<template>
  <div class="w-full text-center mt-3 mb-3">
    <div class="flex w-full flex-row" :id="'comment' + comment.id">
      <div class="ml-2 flex flex-col justify-center">
        <ion-avatar class="h-full flex justify-center">
          <img
            :class="type === 'comment' ? 'h-12 w-12' : 'h-10 w-10'"
            :src="`${comment.writer.profile_picture_url}`"
            alt="Profile picture"
            @error="setProfilePictureNotFound"
          />
        </ion-avatar>
      </div>
      <div class="ml-2 flex flex-col mr-3">
        <div class="flex text-left font-bold">
          {{ comment.writer.fullname }}
        </div>
        <div class="text-left comment-content">{{ comment.content }}</div>
        <div class="flex text-sm text-gray-600 text-left">
          {{ $timeAgo.format(new Date(comment.date)) }}
          <span
            v-if="type === 'comment'"
            @click="$emit('comment', { content: comment, index: commentIndex })"
            class="ml-3 clickable-cursor comment-content"
          >
            {{ t("comment_page.reply", {}, { locale: $store.state.appLang }) }}
          </span>
          <span
            @click="showReplies = !showReplies"
            v-if="type === 'comment' && comment.replies.length > 0"
            class="ml-3 clickable-cursor"
          >
            {{
              t(
                showReplies
                  ? "comment_page.hide_replies"
                  : "comment_page.see_replies",
                comment.replies.length > 1
                  ? { count: comment.replies.length }
                  : {},
                { locale: $store.state.appLang }
              )
            }}
          </span>
        </div>
      </div>
    </div>
    <div v-if="showReplies">
      <comment
        class="pl-5 mt-5"
        @delete:reply="emitReplyToCommentPage"
        v-for="(reply, replyIndex) in comment.replies"
        :key="reply"
        :comment="reply"
        type="reply"
        :replyIndex="replyIndex"
        :commentIndex="commentIndex"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";
import { IonAvatar, actionSheetController, alertController } from "@ionic/vue";
import { useI18n } from "vue-i18n";
import commentsService from "../services/comments";
import toastService from "../services/toast";
import repliesService from "../services/replies";
import { trashOutline } from "ionicons/icons";
import * as Hammer from "hammerjs";
import { setProfilePictureNotFound } from "../services/profile-picture.js";

export default defineComponent({
  name: "Comment",
  components: {
    IonAvatar,
  },
  props: ["comment", "type", "commentIndex", "replyIndex"],
  emits: ["comment", "delete:comment", "delete:reply"],
  setup() {
    const showReplies = ref(false);
    const { t, locale } = useI18n();
    return {
      t,
      locale,
      trashOutline,
      showReplies,
      setProfilePictureNotFound,
    };
  },
  methods: {
    async deleteReplyOrComment() {
      try {
        this.type === "comment"
          ? await commentsService.delete(this.comment.id)
          : await repliesService.delete(this.comment.id);
        this.$emit(
          "delete:" + this.type,
          this.type,
          this.commentIndex,
          this.replyIndex
        );
      } catch (error) {
        await this.openErrorToast();
      }
    },
    emitReplyToCommentPage(type, commentIndex, replyIndex) {
      this.$emit("delete:comment", type, commentIndex, replyIndex);
    },
    async showActionSheet() {
      const actionSheet = await actionSheetController.create({
        buttons: [
          {
            text: this.t("actions.delete", {}, { locale: this.$store.state.appLang }),
            role: "destructive",
            handler: () => {
              this.confirmDeletion();
            },
          },
        ],
      });
      return actionSheet.present();
    },
    async confirmDeletion() {
      const alert = await alertController.create({
        message:
          "<strong>" +
          this.t(
            "comment_page.confirm_deletion",
            {},
            { locale: this.$store.state.appLang }
          ) +
          "</strong>",
        buttons: [
          {
            text: this.t("actions.cancel", {}, { locale: this.$store.state.appLang }),
            role: "cancel",
          },
          {
            text: this.t("actions.delete", {}, { locale: this.$store.state.appLang }),
            role: "destructive",
            handler: () => {
              this.deleteReplyOrComment();
            },
          },
        ],
      });
      return alert.present();
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("deletion_error", {}, { locale: this.$store.state.appLang })
      );
    },
    setUpPressEvent() {
      const pressDuration = 500; //in ms
      const selectedComment = document.querySelector(
        "#comment" + this.comment.id
      );
      const eventsManager = new Hammer.Manager(selectedComment);

      const pressEvent = new Hammer.Press({ time: pressDuration });

      eventsManager.add(pressEvent);

      eventsManager.on("press", () => {
        if (this.comment.writer.uid === this.$store.state.user.uid) {
          this.showActionSheet();
        }
      });
    },
  },
  mounted() {
    this.setUpPressEvent();
  },
});
</script>

<style scoped>
.comment-content {
  word-break: break-word;
  white-space: pre-line;
}
</style>