<template>
  <ion-header>
    <ion-toolbar>
      <ion-buttons v-if="needBackButton" slot="start">
        <ion-back-button
          v-if="needEmitBackEvent"
          @click="$emit('back')"
          color="primary"
          text=""
        />
        <ion-back-button v-else color="primary" text="" />
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
</template>

<script>
import {
  IonBackButton,
  IonButtons,
  IonTitle,
  IonToolbar,
  IonHeader,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "PageTopBar",
  components: {
    IonBackButton,
    IonButtons,
    IonHeader,
    IonTitle,
    IonToolbar,
  },
  props: ["title", "needBackButton", "needEmitBackEvent"],
  emits: ["back"],
  setup() {
    const { t, locale } = useI18n();
    return {
      t,
      locale,
    };
  },
});
</script>