<template>
  <ion-list lines="none" id="list">
    <ion-item @click="confirmDeletion">
      {{ t("actions.delete", {}, { locale: $store.state.appLang }) }}
    </ion-item>
  </ion-list>
</template>

<script>
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";
import postsService from "../services/posts";
import { IonItem, IonList, alertController, toastController } from "@ionic/vue";
export default defineComponent({
  name: "PostOptions",
  components: {
    IonItem,
    IonList,
  },
  props: ["postId"],
  emits: ["submit"],
  setup() {
    const { t, locale } = useI18n();
    return {
      t,
      locale,
    };
  },
  methods: {
    async confirmDeletion() {
      const alert = await alertController.create({
        message:
          "<strong>" +
          this.t(
            "post_options.confirm_deletion",
            {},
            { locale: this.$store.state.appLang }
          ) +
          "</strong>",
        buttons: [
          {
            text: this.t("actions.cancel", {}, { locale: this.$store.state.appLang }),
            role: "cancel",
          },
          {
            text: this.t("actions.delete", {}, { locale: this.$store.state.appLang }),
            role: "destructive",
            handler: () => {
              this.removePost();
            },
          },
        ],
      });
      return alert.present();
    },
    async removePost() {
      try {
        const response = await postsService.delete(this.postId);
        if (response.status === 200) {
          document.querySelector("#list").dispatchEvent(new Event("submit"));
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async openErrorToast() {
      const toast = await toastController.create({
        color: "danger",
        message: this.t("toaster_error", {}, { locale: this.$store.state.appLang }),
        duration: 4000,
      });
      return toast.present();
    },
  },
});
</script>