<template>
  <ion-page>
    <main-top-bar />
    <ion-content
      :scroll-events="postsFetched && posts.length"
      :scrollY="postsFetched && posts.length"
      @ionScrollEnd="saveFeedContent($event.srcElement)"
    >
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon :icon="add" @click="openPostCreationPage()" />
        </ion-fab-button>
      </ion-fab>
      <ion-refresher slot="fixed" @ionRefresh="refreshData($event)">
        <ion-refresher-content />
      </ion-refresher>
      <div v-if="postsFetched">
        <div v-if="posts.length">
          <ion-list class="pt-0 pb-0">
            <ion-item
              class="no-padding-item text-center"
              v-for="post in posts"
              :key="post"
            >
              <post
                @delete:post="setPosts"
                :post="post"
                :goal="post.goal"
                :feedMode="true"
              />
            </ion-item>
          </ion-list>
          <ion-infinite-scroll
            @ionInfinite="loadData($event)"
            id="infinite-scroll"
          >
            <ion-infinite-scroll-content />
          </ion-infinite-scroll>
        </div>
        <div v-else class="p-5 empty-content">
          {{
            t(
              "feed_page.start_following_to_see_posts",
              {},
              { locale: $store.state.appLang }
            )
          }}
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import {
  IonPage,
  IonContent,
  IonItem,
  IonList,
  IonIcon,
  IonInfiniteScrollContent,
  IonInfiniteScroll,
  IonRefresher,
  IonFab,
  IonFabButton,
  IonRefresherContent,
} from "@ionic/vue";
import { add } from "ionicons/icons";
import Post from "../../components/Post";
import MainTopBar from "../../components/MainTopBar.vue";
import feedContentService from "../../services/feed-content";
import postsService from "../../services/posts";
import toastService from "../../services/toast";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "Home",
  components: {
    IonPage,
    IonContent,
    MainTopBar,
    IonIcon,
    IonFabButton,
    IonFab,
    IonItem,
    IonList,
    IonInfiniteScrollContent,
    IonInfiniteScroll,
    IonRefresher,
    IonRefresherContent,
    Post,
  },
  setup() {
    const { t, locale } = useI18n();
    const postsFetched = ref(false);
    const posts = ref([]);
    return {
      t,
      locale,
      posts,
      add,
      postsFetched,
    };
  },
  methods: {
    async loadData(event) {
      const currentNumberOfPosts = this.posts.length;
      try {
        const response = await postsService.getFeed(currentNumberOfPosts);
        if (response.status === 200) {
          const loadedPosts = response.data;
          if (loadedPosts.length) {
            this.posts.push(...loadedPosts);
          }
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
      event.target.complete();
    },
    refreshData(event) {
      this.setPosts();
      event.target.complete();
    },
    saveFeedContent(feedContent) {
      feedContentService.setFeedContent(feedContent);
    },
    async setPosts() {
      try {
        const response = await postsService.getFeed();
        if (response.status === 200) {
          this.posts = response.data;
          this.postsFetched = true;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
    openPostCreationPage() {
      this.$router.push({ name: "PostCreation" });
    },
  },
  async mounted() {
    await this.setPosts();
  },
});
</script>

<style scoped>
ion-item {
  --border-color: #bacae0;
}
</style>
