<template>
  <ion-page>
    <main-top-bar />
    <ion-content>
      <div v-if="currentUserFetched">
        <div class="w-full flex justify-center pt-12 mb-5">
          <ion-avatar class="h-full flex flex-row justify-center h-32 w-32">
            <img
              :src="`${currentUser.profile_picture_url}`"
              alt="Profile picture"
              @error="setProfilePictureNotFound"
            />
          </ion-avatar>
        </div>
        <ion-text
          class="flex flex-row text-lg font-bold justify-center text-center mb-5"
        >
          {{ currentUser.fullname }}
        </ion-text>
        <ion-text class="flex flex-row text-sm justify-center mb-5 text-center">
          {{
            t("profile_page.achieving_goals_since", {}, { locale: $store.state.appLang })
          }}
          {{
            new Date(currentUser.registration_date).toLocaleDateString(
              $store.state.appLang,
              {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric",
              }
            )
          }}
        </ion-text>
        <div class="flex flex-row items-center mb-3 justify-around">
          <div class="flex flex-col">
            <ion-text class="flex flex-row justify-center">
              {{ currentUser.number_of_goals }}
            </ion-text>
            <ion-text class="flex flex-row">
              {{ t("profile_page.goals", {}, { locale: $store.state.appLang }) }}
            </ion-text>
          </div>
          <div class="flex flex-col">
            <ion-text
              class="flex flex-row justify-center"
              @click="openFollowersPage()"
            >
              {{ currentUser.number_of_followers }}
            </ion-text>
            <ion-text class="flex flex-row">
              {{ t("profile_page.followers", {}, { locale: $store.state.appLang }) }}
            </ion-text>
          </div>
          <div class="flex flex-col">
            <ion-text
              class="flex flex-row justify-center"
              @click="openFollowingPage()"
            >
              {{ currentUser.number_of_following }}
            </ion-text>
            <ion-text class="flex flex-row">
              {{ t("profile_page.following", {}, { locale: $store.state.appLang }) }}
            </ion-text>
          </div>
        </div>
        <div class="flex justify-center mt-12">
          <div class="flex items-center mr-2">
            <ion-icon
              :icon="lockClosedOutline"
              color="primary"
              class="w-8 h-8 mr-2"
            />
            <ion-text>
              {{
                t("own_profile_page.private_account", {}, { locale: $store.state.appLang })
              }}
            </ion-text>
          </div>
          <ion-toggle
            @ionChange="setUserVisibility($event.detail.checked)"
            :checked="currentUser.visibility === 'PRIVATE'"
            id="visibilityToggle"
          />
        </div>
        <div class="mt-5" v-if="currentUser.visibility === 'PRIVATE'">
          <ion-text class="font-bold ml-5">
            {{
              t("own_profile_page.follow_requests", {}, { locale: $store.state.appLang })
            }}
          </ion-text>
          <div v-if="currentUser.received_follow_requests.length">
            <ion-list class="pt-0 pb-0">
              <ion-item
                class="no-padding-item text-center clickable-cursor"
                v-for="(
                  requester, index
                ) in currentUser.received_follow_requests"
                :key="requester"
              >
                <user
                  :username="requester.fullname"
                  :profilePictureUrl="requester.profile_picture_url"
                />
                <div class="flex mr-2">
                  <ion-button @click="acceptFollow(requester, index)">
                    {{ t("own_profile_page.accept", {}, { locale: $store.state.appLang }) }}
                  </ion-button>
                  <ion-button @click="denyFollow(requester, index)">
                    {{ t("own_profile_page.deny", {}, { locale: $store.state.appLang }) }}
                  </ion-button>
                </div>
              </ion-item>
            </ion-list>
          </div>
          <div v-else class="mt-10 mb-10 flex justify-center">
            {{
              t("own_profile_page.no_follow_request", {}, { locale: $store.state.appLang })
            }}
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import {
  IonPage,
  IonContent,
  IonAvatar,
  IonText,
  IonToggle,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  alertController,
} from "@ionic/vue";
import usersService from "../../services/users";
import toastService from "../../services/toast";
import MainTopBar from "../../components/MainTopBar.vue";
import User from "../../components/User";
import { useI18n } from "vue-i18n";
import { lockClosedOutline } from "ionicons/icons";
import { setProfilePictureNotFound }  from "../../services/profile-picture.js";

export default defineComponent({
  name: "OwnProfile",
  components: {
    IonPage,
    IonAvatar,
    MainTopBar,
    IonIcon,
    IonToggle,
    IonText,
    IonContent,
    IonItem,
    IonList,
    IonButton,
    User,
  },
  setup() {
    const { t, locale } = useI18n();
    const currentUserFetched = ref(false);
    const currentUser = ref([]);
    return {
      t,
      locale,
      currentUser,
      lockClosedOutline,
      currentUserFetched,
      setProfilePictureNotFound,
    };
  },
  methods: {
    async setCurrentUser() {
      try {
        const response = await usersService.me();
        if (response.status === 200) {
          this.currentUser = response.data;
          this.currentUserFetched = true;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async acceptFollow(requester, index) {
      const response = await usersService.acceptFollow(requester.id);
      if (response.status === 200) {
        this.currentUser.number_of_followers += 1;
        this.currentUser.received_follow_requests.splice(index, 1);
      } else {
        await this.openErrorToast();
      }
    },
    async denyFollow(requester, index) {
      try {
        const response = await usersService.denyFollow(requester.id);
        if (response.status === 200) {
          this.currentUser.received_follow_requests.splice(index, 1);
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async setUserVisibility(isPrivate) {
      if (isPrivate) {
        try {
          const response = await usersService.switchToPrivate();
          if (response.status === 200) {
            this.currentUser.visibility = "PRIVATE";
          } else {
            await this.openErrorToast();
          }
        } catch (error) {
          await this.openErrorToast();
        }
      } else {
        await this.confirmSetPublic();
      }
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
    async openFollowersPage() {
      if (this.currentUser.number_of_followers > 0) {
        this.$router.push({
          name: "Followers",
          params: { userId: this.currentUser.id },
          query: { needRemoveButton: true },
        });
      }
    },
    async openFollowingPage() {
      if (this.currentUser.number_of_following > 0) {
        this.$router.push({
          name: "Following",
          params: { userId: this.currentUser.id },
          query: { needUnfollowButton: true },
        });
      }
    },
    async setUserPublic() {
      try {
        const response = await usersService.switchToPublic();
        if (response.status === 200) {
          this.currentUser.visibility = "PUBLIC";
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async confirmSetPublic() {
      const alert = await alertController.create({
        message:
          "<strong>" +
          this.t(
            "own_profile_page.confirm_set_user_public",
            {},
            { locale: this.$store.state.appLang }
          ) +
          "</strong>",
        buttons: [
          {
            text: this.t("actions.cancel", {}, { locale: this.$store.state.appLang }),
            role: "cancel",
            handler: () => {
              document.querySelector("#visibilityToggle").checked = true;
            },
          },
          {
            text: this.t("actions.confirm", {}, { locale: this.$store.state.appLang }),
            role: "confirm",
            handler: () => {
              this.setUserPublic();
            },
          },
        ],
      });
      return alert.present();
    },
  },
  async mounted() {
    await this.setCurrentUser();
  },
});
</script>