<template>
  <ion-page>
    <page-top-bar
      :title="`${t('own_followers_page.title', {}, { locale: $store.state.appLang })}`"
      :needBackButton="true"
    />
    <ion-content v-if="followersFetched" class="ion-padding">
      <div v-if="followers.length">
        <ion-list class="pt-0 pb-0">
          <ion-item
            class="no-padding-item text-center clickable-cursor"
            v-for="(follower, index) in followers"
            :key="follower"
          >
            <user
              @click="redirectUser(follower.id)"
              :username="follower.fullname"
              :profilePictureUrl="follower.profile_picture_url"
            />
            <ion-button
              v-if="$route.query.needRemoveButton"
              @click="removeFollower(follower.id, index)"
              color="danger"
            >
              {{
                t("own_followers_page.remove_button", {}, { locale: $store.state.appLang })
              }}
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll
          @ionInfinite="loadData($event)"
          id="infinite-scroll"
        >
          <ion-infinite-scroll-content />
        </ion-infinite-scroll>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonButton,
  IonContent,
  IonItem,
  IonList,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import User from "../components/User";
import PageTopBar from "../components/PageTopBar";
import { useI18n } from "vue-i18n";
import usersService from "../services/users";
import toastService from "../services/toast";

export default defineComponent({
  name: "Followers",
  components: {
    IonPage,
    IonButton,
    IonContent,
    IonItem,
    IonList,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
    User,
    PageTopBar,
  },
  setup() {
    const { t, locale } = useI18n();
    const followersFetched = ref(false);
    const followers = ref([]);
    return {
      t,
      locale,
      followersFetched,
      followers,
    };
  },
  methods: {
    async loadData(event) {
      const currentNumberOfFollowers = this.followers.length;
      try {
        const response = await usersService.getFollowers(
          this.$route.params.userId,
          currentNumberOfFollowers
        );
        if (response.status === 200) {
          const loadedFollowers = response.data;
          if (loadedFollowers.length) {
            this.followers.push(...loadedFollowers);
          }
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
      event.target.complete();
    },
    async setFollowers() {
      try {
        const response = await usersService.getFollowers(
          this.$route.params.userId
        );
        if (response.status === 200) {
          this.followers = response.data;
          this.followersFetched = true;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
    async removeFollower(followerId, index) {
      try {
        const response = await usersService.removeFollow(followerId);
        if (response.status === 200) {
          this.followers.splice(index, 1);
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    redirectUser(userId) {
      this.$router.push({ name: "Profile", params: { userId: userId } });
    },
  },
  async mounted() {
    await this.setFollowers();
  },
});
</script>