<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="primary" text="" />
        </ion-buttons>
        <ion-buttons slot="end" v-if="isCurrentUserGoalOwner">
          <ion-icon
            v-if="editMode"
            @click="confirmGoalDeletion"
            color="danger"
            class="w-6 h-6 mr-2"
            :icon="trash"
          />
          <ion-icon
            v-if="editMode"
            @click="
              updateGoalIfChanged();
              editMode = false;
            "
            color="success"
            class="w-6 h-6 mr-2"
            :icon="checkmarkCircle"
          />
          <ion-icon
            v-else
            @click="editMode = true"
            color="primary"
            class="w-6 h-6 mr-2"
            :icon="create"
          />
        </ion-buttons>
        <ion-title v-if="goalFetched">
          <ion-text v-if="!editMode">{{ goal.title }}</ion-text>
          <ion-input v-else class="no-padding-input" v-model="goal.title" />
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content v-if="goalFetched">
      <div
        class="flex relative justify-center m-5 p-2 border"
        style="word-break: break-word"
      >
        <ion-refresher slot="fixed" @ionRefresh="refreshData($event)">
          <ion-refresher-content />
        </ion-refresher>
        <ion-textarea
          :auto-grow="true"
          :readonly="!editMode"
          :placeholder="`${t(
            'goal_page.description_placeholder',
            {},
            { locale: $store.state.appLang }
          )}`"
          class="no-padding-input text-left"
          v-model="goal.description"
          maxlength="255"
        />
        <ion-text
          v-if="editMode"
          color="medium"
          class="absolute bottom-0 right-0 pr-1 text-xs"
        >
          {{ 255 - goal.description.length }}
        </ion-text>
      </div>
      <div class="m-5">
        <div class="flex flex-shrink-1 justify-center">
          <ion-button
            :class="[editMode ? '' : 'inactive']"
            v-if="goal.status === 'TODO' || editMode"
            :fill="goal.status === 'TODO' ? 'outline' : 'solid'"
            @click="goal.status = 'TODO'"
          >
            {{
              t("goal_page.todo_status", {}, { locale: $store.state.appLang })
            }}
          </ion-button>
          <ion-button
            :class="[editMode ? '' : 'inactive']"
            v-if="goal.status === 'ONGOING' || editMode"
            :fill="goal.status === 'ONGOING' ? 'outline' : 'solid'"
            @click="goal.status = 'ONGOING'"
          >
            {{
              t(
                "goal_page.ongoing_status",
                {},
                { locale: $store.state.appLang }
              )
            }}
          </ion-button>
          <ion-button
            :class="[editMode ? '' : 'inactive']"
            v-if="goal.status === 'DONE' || editMode"
            :fill="goal.status === 'DONE' ? 'outline' : 'solid'"
            @click="goal.status = 'DONE'"
          >
            {{
              t("goal_page.done_status", {}, { locale: $store.state.appLang })
            }}
          </ion-button>
        </div>
      </div>
      <div class="mt-2 ml-5 mr-2">
        <div class="flex">
          <ion-text class="text-lg" color="primary">
            {{ t("goal_page.steps", {}, { locale: $store.state.appLang }) }}
          </ion-text>
        </div>
        <div v-if="goal.steps.length" class="flex mt-2">
          <ion-list class="w-full">
            <ion-item
              v-for="(step, stepIndex) in goal.steps"
              :key="step"
              lines="none"
            >
              <ion-checkbox
                :class="[editMode ? '' : 'inactive']"
                slot="start"
                style="position: relative"
                color="primary"
                :checked="step.completion_date"
                @click="toggleStepCompletion(step)"
              />
              <span style="word-break: break-word" class="ml-3 text-left">
                {{ step.description }}
              </span>
              <ion-text
                color="success"
                v-if="step.completion_date"
                class="text-xs ml-2 text-center"
              >
                {{
                  t(
                    "goal_page.completed_on",
                    {},
                    { locale: $store.state.appLang }
                  )
                }}
                {{
                  new Date(step.completion_date).toLocaleDateString(
                    $store.state.appLang,
                    {
                      day: "2-digit",
                      year: "numeric",
                      month: "2-digit",
                    }
                  )
                }}
              </ion-text>
              <div class="flex flex-1 justify-end items-center">
                <ion-icon
                  v-if="editMode"
                  @click="confirmStepDeletion(stepIndex)"
                  color="danger"
                  class="w-8 h-8"
                  :icon="removeCircle"
                />
              </div>
            </ion-item>
          </ion-list>
        </div>
        <div v-else class="flex justify-center mt-2">
          {{ t("goal_page.no_steps", {}, { locale: $store.state.appLang }) }}
        </div>
        <div class="flex justify-center mt-2 items-center" v-if="editMode">
          <div class="relative w-9/12 border pr-2 pl-2">
            <ion-input
              v-model="stepDescription"
              :placeholder="`${t(
                'goal_page.step_description_placeholder',
                {},
                { locale: $store.state.appLang }
              )}`"
            />
            <ion-text
              color="medium"
              v-if="stepDescription.length && editMode"
              class="absolute bottom-0 right-0 pr-1 text-xs"
            >
              {{ 70 - stepDescription.length }}
            </ion-text>
          </div>
          <ion-icon
            @click="addStep"
            color="primary"
            class="w-8 h-8 ml-2"
            :icon="addCircle"
          />
        </div>
      </div>
      <div v-if="isCurrentUserGoalOwner">
        <div class="flex mt-2 ml-5 mr-5 items-center">
          <ion-text class="text-lg" color="primary">
            {{ t("goal_page.posts", {}, { locale: $store.state.appLang }) }}
          </ion-text>
          <ion-icon
            color="primary"
            class="w-8 h-8 ml-2"
            :icon="addCircle"
            @click="openPostCreationPage()"
          />
        </div>
        <div v-if="goal.posts.length" class="mt-2">
          <ion-list>
            <ion-item
              class="no-padding-item text-center"
              v-for="post in goal.posts"
              :key="post"
            >
              <post
                @delete:post="setGoal"
                :post="post"
                :goal="goal"
                :feedMode="false"
              />
            </ion-item>
          </ion-list>
        </div>
        <div class="flex justify-center mt-2 ml-5 mr-5 mb-5" v-else>
          {{ t("goal_page.no_posts", {}, { locale: $store.state.appLang }) }}
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>


<script>
import { defineComponent, ref } from "vue";
import {
  IonPage,
  IonContent,
  IonButton,
  IonItem,
  IonInput,
  IonIcon,
  IonRefresher,
  IonRefresherContent,
  IonText,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonTitle,
  IonBackButton,
  IonTextarea,
  IonList,
  IonCheckbox,
  alertController,
} from "@ionic/vue";
import { useI18n } from "vue-i18n";
import {
  addCircle,
  create,
  checkmarkCircle,
  trash,
  removeCircle,
} from "ionicons/icons";
import goalsService from "../services/goals";
import toastService from "../services/toast";
import Post from "../components/Post";

export default defineComponent({
  name: "Goal",
  components: {
    IonPage,
    IonContent,
    IonRefresherContent,
    IonRefresher,
    IonButton,
    IonInput,
    IonText,
    IonHeader,
    IonToolbar,
    Post,
    IonButtons,
    IonTitle,
    IonIcon,
    IonTextarea,
    IonBackButton,
    IonItem,
    IonList,
    IonCheckbox,
  },
  setup() {
    const { t, locale } = useI18n();
    const goal = ref({});
    const tmpGoal = ref({});
    const goalFetched = ref(false);
    const isCurrentUserGoalOwner = ref(false);
    const editMode = ref(false);
    const stepDescription = ref("");
    return {
      t,
      locale,
      goal,
      tmpGoal,
      goalFetched,
      create,
      editMode,
      removeCircle,
      stepDescription,
      trash,
      alertController,
      isCurrentUserGoalOwner,
      checkmarkCircle,
      addCircle,
    };
  },
  methods: {
    async setGoal() {
      const goalId = this.$route.params.goalId;
      try {
        const response = await goalsService.get(goalId);
        if (response.status === 200) {
          this.setGoalAndTmpGoal(response.data);
          this.goalFetched = true;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    refreshData(event) {
      this.setGoal();
      event.target.complete();
    },
    async addStep() {
      if (this.stepDescription) {
        const step = {
          description: this.stepDescription,
          completion_date: null,
        };
        this.goal.steps.push(step);
        this.stepDescription = "";
      }
    },
    async confirmStepDeletion(stepIndex) {
      const alert = await alertController.create({
        message:
          "<strong>" +
          this.t(
            "goal_page.confirm_step_deletion",
            {},
            { locale: this.$store.state.appLang }
          ) +
          "</strong>",
        buttons: [
          {
            text: this.t(
              "actions.cancel",
              {},
              { locale: this.$store.state.appLang }
            ),
            role: "cancel",
          },
          {
            text: this.t(
              "actions.delete",
              {},
              { locale: this.$store.state.appLang }
            ),
            role: "destructive",
            handler: () => {
              this.removeStep(stepIndex);
            },
          },
        ],
      });
      return alert.present();
    },
    async confirmGoalDeletion() {
      const alert = await alertController.create({
        message:
          "<strong>" +
          this.t(
            "goal_page.confirm_goal_deletion",
            {},
            { locale: this.$store.state.appLang }
          ) +
          "</strong>",
        buttons: [
          {
            text: this.t(
              "actions.cancel",
              {},
              { locale: this.$store.state.appLang }
            ),
            role: "cancel",
          },
          {
            text: this.t(
              "actions.delete",
              {},
              { locale: this.$store.state.appLang }
            ),
            role: "destructive",
            handler: () => {
              this.deleteGoal();
            },
          },
        ],
      });
      return alert.present();
    },
    async updateGoalIfChanged() {
      if (JSON.stringify(this.goal) != JSON.stringify(this.tmpGoal)) {
        const updatedGoal = {
          description: this.goal.description,
          title: this.goal.title,
          status: this.goal.status,
        };
        this.goal.steps.forEach((step) => delete step.id);
        try {
          const response = await goalsService.update(
            updatedGoal,
            this.goal.steps,
            this.goal.id
          );
          if (response.status === 200) {
            this.setGoalAndTmpGoal(response.data);
            this.editMode = false;
          } else {
            await this.openErrorToast();
          }
        } catch (error) {
          await this.openErrorToast();
        }
      }
    },
    setGoalAndTmpGoal(response_data) {
      const response_data_json = JSON.stringify(response_data);
      this.goal = JSON.parse(response_data_json);
      this.tmpGoal = JSON.parse(response_data_json);
    },
    removeStep(stepIndex) {
      this.goal.steps.splice(stepIndex, 1);
    },
    async deleteGoal() {
      try {
        const response = await goalsService.delete(this.goal.id);
        if (response.status == 200) {
          this.$emit("delete:goal");
          this.$router.back();
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
    setIsCurrentUserGoalOwner() {
      this.isCurrentUserGoalOwner =
        this.goal.user.uid === this.$store.state.user.uid;
    },
    toggleStepCompletion(step) {
      // setTimeout is a workaround to synchronize the checkbox with the completion_date
      setTimeout(() => {
        if (step.completion_date) {
          step.completion_date = null;
        } else {
          step.completion_date = new Date();
        }
      }, 1);
    },
    openPostCreationPage() {
      this.$router.push({
        name: "PostCreation",
        query: { goal: this.goal.id },
      });
    },
  },
  async mounted() {
    await this.setGoal();
    this.setIsCurrentUserGoalOwner();
  },
});
</script>

<style scoped>
.searchbar-input {
  --border-radius: 10px;
  --box-shadow: 0px;
  --padding-top: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-bottom: 5px;
  --background: var(--ion-color-bg-comment-input);
}

.border {
  border: var(--ion-color-primary) solid 1px;
  border-radius: 10px;
}

ion-item {
  --inner-padding-start: 0px;
  --padding-start: 0px;
}

ion-checkbox {
  --border-color: var(--ion-color-primary);
  margin-inline-end: 0px;
}

.inactive {
  pointer-events: none;
}

.no-padding-input {
  --padding-start: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-end: 0;
}
</style>

