<template>
  <ion-page>
    <img
      id="orizon-logo"
      class="absolute-center"
      :src="logoOrizon"
      alt="Orizon logo"
    />
    <ion-text id="orizon-text" color="primary" class="text-5xl absolute-center">
      {{ $appName }}
    </ion-text>

    <div class="w-100 absolute-center" id="google">
      <ion-button class="w-11/12" @click="signInWithGoogle()">
        <img class="w-6" :src="logoGoogle" alt="Google's logo"/>
        <p class="ml-4">
          {{ t("login.google_sign_in", {}, { locale: $store.state.appLang }) }}
        </p>
      </ion-button>
    </div>
    <img
      id="mountain-background"
      class="w-full"
      :src="backgroundMountain"
      alt="Mountain background"
    />
  </ion-page>
</template>

<script>
import { IonPage, IonButton, IonText } from "@ionic/vue";
import { defineComponent } from "vue";
import logoGoogle from "../assets/icons/google.png";
import logoOrizon from "../assets/logos/orizon-logo.svg";
import backgroundMountain from "../assets/backgrounds/mountain.svg";
import { useI18n } from "vue-i18n";
import firebaseAuthService from "../services/firebase-auth";
import toastService from "../services/toast";

export default defineComponent({
  name: "Login",
  components: {
    IonPage,
    IonButton,
    IonText,
  },
  setup() {
    const { t, locale } = useI18n();
    return {
      logoGoogle,
      logoOrizon,
      backgroundMountain,
      t,
      locale,
    };
  },
  methods: {
    async signInWithGoogle(provider) {
      try {
        await firebaseAuthService.signInWithGoogle(provider);
        this.$router.push({ name: "Home" });
      } catch (error) {
        await toastService.openErrorToast(
          this.t("login.connection_error", {}, { locale: this.$store.state.appLang })
        );
      }
    },
  },
});
</script>

<style scoped>
.absolute-center {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
}

#orizon-logo {
  top: 25%;
}

#orizon-text {
  top: 45%;
}

#google {
  top: 60%;
}

#mountain-background {
  position: absolute;
  bottom: 0%;
  z-index: -99;
}
</style>