<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <div class="flex flex-row items-center mb-4">
          <ion-buttons class="flex flex-col" slot="start">
            <ion-back-button color="primary" text="" />
          </ion-buttons>
          <ion-avatar
            v-if="userFetched"
            class="ml-2 h-full flex flex-col justify-center flex-shrink-0"
          >
            <img
              class="h-12 w-12"
              :src="`${user.profile_picture_url}`"
              alt="Profile picture"
              @error="setProfilePictureNotFound"
            />
          </ion-avatar>
          <div class="ml-2 flex flex-col" v-if="userFetched">
            <ion-text class="flex flex-row text-lg font-bold">
              {{ user.fullname }}
            </ion-text>
            <ion-text class="flex flex-row text-sm"
              >{{
                t(
                  "profile_page.achieving_goals_since",
                  {},
                  { locale: $store.state.appLang }
                )
              }}
              {{
                new Date(user.registration_date).toLocaleDateString(
                  $store.state.appLang,
                  {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  }
                )
              }}</ion-text
            >
          </div>
        </div>
        <div v-if="userFetched">
          <div class="flex flex-row items-center mb-3 justify-around">
            <div class="flex flex-col">
              <ion-text class="flex flex-row justify-center">
                {{ user.goals.length }}
              </ion-text>
              <ion-text class="flex flex-row">
                {{
                  t("profile_page.goals", {}, { locale: $store.state.appLang })
                }}
              </ion-text>
            </div>
            <div class="flex flex-col">
              <ion-text
                @click="openFollowersPage()"
                class="flex flex-row justify-center"
              >
                {{ user.number_of_followers }}
              </ion-text>
              <ion-text class="flex flex-row">
                {{
                  t(
                    "profile_page.followers",
                    {},
                    { locale: $store.state.appLang }
                  )
                }}
              </ion-text>
            </div>
            <div class="flex flex-col">
              <ion-text
                @click="openFollowingPage()"
                class="flex flex-row justify-center"
              >
                {{ user.number_of_following }}
              </ion-text>
              <ion-text class="flex flex-row">
                {{
                  t(
                    "profile_page.following",
                    {},
                    { locale: $store.state.appLang }
                  )
                }}
              </ion-text>
            </div>
          </div>
        </div>
        <div class="flex flex-row mb-2 justify-center">
          <div v-if="user.is_followed" class="w-10/12 flex justify-center">
            <ion-button @click="unfollowUser" fill="outline" class="w-full">
              <ion-text color="primary">
                {{
                  t(
                    "profile_page.following_button",
                    {},
                    { locale: $store.state.appLang }
                  )
                }}
              </ion-text>
              <ion-icon :icon="checkmark" class="ml-2" color="primary" />
            </ion-button>
          </div>
          <div
            v-else-if="user.is_requested_to_follow"
            class="w-10/12 flex justify-center"
          >
            <ion-button @click="cancelFollowUser" fill="outline" class="w-full">
              {{
                t(
                  "profile_page.sent_follow_request_button",
                  {},
                  { locale: $store.state.appLang }
                )
              }}
            </ion-button>
          </div>
          <div v-else class="w-10/12">
            <ion-button @click="followUser" class="w-full">
              {{
                t(
                  "profile_page.follow_button",
                  {},
                  { locale: $store.state.appLang }
                )
              }}
            </ion-button>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div v-if="userFetched">
        <div
          v-if="user.visibility === 'PUBLIC' || user.is_followed"
          class="mt-4"
        >
          <div v-if="user.goals.length">
            <ion-list lines="none">
              <ion-item v-for="goal in user.goals" :key="goal" class="pb-5">
                <goal-item :goal="goal" />
              </ion-item>
            </ion-list>
          </div>
          <div v-else class="empty-content">
            {{
              t("profile_page.no_goals", {}, { locale: $store.state.appLang })
            }}
          </div>
        </div>
        <div v-else class="empty-content">
          <ion-icon
            :icon="lockClosed"
            color="primary"
            class="w-8 h-8 mb-2"
          /><br />
          {{ t("profile_page.private", {}, { locale: $store.state.appLang }) }}
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import {
  IonPage,
  IonContent,
  IonButton,
  IonItem,
  IonText,
  IonIcon,
  IonButtons,
  IonAvatar,
  IonBackButton,
  IonList,
  IonToolbar,
  IonHeader,
} from "@ionic/vue";
import GoalItem from "../components/GoalItem";
import usersService from "../services/users";
import toastService from "../services/toast";
import { setProfilePictureNotFound } from "../services/profile-picture.js";
import { useI18n } from "vue-i18n";
import { lockClosed, checkmark } from "ionicons/icons";

export default defineComponent({
  name: "Profile",
  components: {
    IonPage,
    IonContent,
    IonButton,
    IonHeader,
    IonButtons,
    IonIcon,
    IonAvatar,
    IonToolbar,
    IonText,
    IonBackButton,
    IonItem,
    GoalItem,
    IonList,
  },
  setup() {
    const { t, locale } = useI18n();
    const userFetched = ref(false);
    const user = ref({});
    return {
      t,
      locale,
      user,
      userFetched,
      checkmark,
      lockClosed,
      setProfilePictureNotFound,
    };
  },
  methods: {
    async setUser() {
      try {
        const userId = this.$route.params.userId;
        const response = await usersService.get(userId);
        if (response.status === 200) {
          this.user = response.data;
          this.userFetched = true;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
    async followUser() {
      try {
        const userId = this.$route.params.userId;
        const response = await usersService.follow(userId);
        if (response.status === 200) {
          if (response.data.includes("requested")) {
            this.user.is_requested_to_follow = true;
          } else {
            this.user.is_followed = true;
            await this.setUser();
          }
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async cancelFollowUser() {
      try {
        const userId = this.$route.params.userId;
        const response = await usersService.cancelFollow(userId);
        if (response.status === 200) {
          this.user.is_requested_to_follow = false;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async unfollowUser() {
      try {
        const userId = this.$route.params.userId;
        const response = await usersService.unfollow(userId);
        if (response.status === 200) {
          this.user.is_followed = false;
          await this.setUser();
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async openFollowersPage() {
      if (this.user.number_of_followers > 0 && this.user.is_followed) {
        this.$router.push({
          name: "Followers",
          params: { userId: this.user.id },
        });
      }
    },
    async openFollowingPage() {
      if (this.user.number_of_following > 0 && this.user.is_followed) {
        this.$router.push({
          name: "Following",
          params: { userId: this.user.id },
        });
      }
    },
  },
  async mounted() {
    await this.setUser();
  },
});
</script>
