<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="primary" text="" />
        </ion-buttons>
        <ion-searchbar
          v-on:keyup="searchUsers($event.target.value)"
          @ionClear="users = []"
          :placeholder="`${t(
            'search_page.search_placeholder',
            {},
            { locale: $store.state.appLang }
          )}`"
          v-model="username"
          search-icon="search-outline"
          type="search"
          class="searchbar-input"
        />
      </ion-toolbar>
    </ion-header>
    <ion-content :scrollY="users.length">
      <div v-if="users.length">
        <ion-list class="pt-0 pb-0">
          <ion-item
            @click="redirectUser(user.id)"
            class="no-padding-item text-center clickable-cursor"
            v-for="user in users"
            :key="user"
          >
            <user
              :username="user.fullname"
              :profilePictureUrl="user.profile_picture_url"
            />
          </ion-item>
        </ion-list>
        <ion-infinite-scroll
          @ionInfinite="loadData($event, username)"
          id="infinite-scroll"
        >
          <ion-infinite-scroll-content />
        </ion-infinite-scroll>
      </div>
      <div v-else class="p-5 empty-content">
        <ion-icon
          :icon="searchOutline"
          color="primary"
          class="w-6 h-6 mb-2"
        /><br />
        {{
          t("search_page.start_searching", {}, { locale: $store.state.appLang })
        }}
      </div>
    </ion-content>
  </ion-page>
</template>


<script>
import { defineComponent, ref } from "vue";
import {
  IonPage,
  IonItem,
  IonList,
  IonToolbar,
  IonSearchbar,
  IonIcon,
  IonContent,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
  IonHeader,
  IonButtons,
  IonBackButton,
} from "@ionic/vue";
import { searchOutline } from "ionicons/icons";
import usersService from "../services/users";
import toastService from "../services/toast";
import User from "../components/User";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "SearchUsers",
  components: {
    IonPage,
    IonToolbar,
    IonItem,
    IonList,
    IonIcon,
    IonContent,
    IonSearchbar,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
    IonHeader,
    IonBackButton,
    IonButtons,
    User,
  },
  setup() {
    const { t, locale } = useI18n();
    const users = ref([]);
    const username = ref("");
    return {
      t,
      locale,
      users,
      username,
      searchOutline,
    };
  },
  methods: {
    async searchUsers(username) {
      if (username.length > 0) {
        try {
          const response = await usersService.search(username);
          if (response.status === 200) {
            this.users = response.data;
          } else {
            await this.openErrorToast();
          }
        } catch (error) {
          await this.openErrorToast();
        }
      } else {
        this.users = [];
      }
    },
    async loadData(event, username) {
      const currentNumberOfUsers = this.users.length;
      try {
        const response = await usersService.search(
          username,
          currentNumberOfUsers
        );
        if (response.status === 200) {
          const loadedUsers = response.data;
          if (loadedUsers.length) {
            this.users.push(...loadedUsers);
          }
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
      event.target.complete();
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
    redirectUser(userId) {
      this.$router.push({ name: "Profile", params: { userId: userId } });
    },
  },
});
</script>

<style scoped>
.searchbar-input {
  --border-radius: 10px;
  --box-shadow: 0px;
  --padding-top: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-bottom: 5px;
  --background: var(--ion-color-bg-comment-input);
}
</style>

