<template>
  <ion-page>
    <page-top-bar
      :title="`${t(
        'settings_page.settings',
        {},
        { locale: $store.state.appLang }
      )}`"
      :needBackButton="true"
    />
    <ion-content>
      <ion-item class="clickable mt-6">
        <ion-icon color="primary" :icon="moon" />
        <ion-label class="ml-2">
          {{
            t(
              "settings_page.toggle_dark_mode",
              {},
              { locale: $store.state.appLang }
            )
          }}
        </ion-label>
        <ion-toggle
          @ionChange="setDarkMode($event.detail.checked)"
          :checked="$store.state.isInDarkMode"
          id="themeToggle"
          slot="end"
        />
      </ion-item>
      <ion-item class="clickable">
        <ion-icon color="primary" :icon="analytics" />
        <ion-label class="ml-2">
          {{
            t(
              "settings_page.toggle_analytics",
              {},
              { locale: $store.state.appLang }
            )
          }}
        </ion-label>
        <ion-toggle
          @ionChange="setAnalyticsMode($event.detail.checked)"
          :checked="$store.state.areAnalyticsEnabled"
          id="themeToggle"
          slot="end"
        />
      </ion-item>
      <ion-item>
        <ion-icon color="primary" :icon="language" />
        <ion-label class="ml-2">
          {{
            t("settings_page.languages", {}, { locale: $store.state.appLang })
          }}
        </ion-label>
        <ion-select
          @ionChange="setLanguage($event.detail.value)"
          :value="`${$store.state.appLang}`"
        >
          <ion-select-option value="fr">French</ion-select-option>
          <ion-select-option value="en">English</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button
        class="flex justify-center m-6"
        color="danger"
        fill="outline"
        @click="confirmDeletion()"
      >
        {{
          t(
            "settings_page.delete_account",
            {},
            { locale: $store.state.appLang }
          )
        }}
      </ion-button>
    </ion-content>
  </ion-page>
</template>

<script>
import { moon, analytics, language } from "ionicons/icons";
import { defineComponent } from "vue";
import {
  IonContent,
  IonPage,
  IonLabel,
  IonToggle,
  IonItem,
  IonIcon,
  IonSelect,
  IonSelectOption,
  IonButton,
  alertController,
} from "@ionic/vue";
import { useI18n } from "vue-i18n";
import PageTopBar from "../components/PageTopBar.vue";
import firebaseAnalyticsService from "../services/firebase-analytics";
import usersService from "../services/users";

export default defineComponent({
  components: {
    PageTopBar,
    IonContent,
    IonPage,
    IonLabel,
    IonToggle,
    IonItem,
    IonIcon,
    IonSelect,
    IonSelectOption,
    IonButton,
  },
  setup() {
    const { t, locale } = useI18n();
    return {
      t,
      locale,
      moon,
      analytics,
      language,
    };
  },
  methods: {
    setDarkMode(isInDarkMode) {
      // Add dark class to the body which triggers dark mode
      document.body.classList.toggle("dark", isInDarkMode);
      this.$store.dispatch("setDarkMode", isInDarkMode);
    },
    setAnalyticsMode(areAnalyticsEnabled) {
      firebaseAnalyticsService.setAnalyticsCollectionEnabled(
        areAnalyticsEnabled
      );
      this.$store.dispatch("setAnalyticsMode", areAnalyticsEnabled);
    },
    setLanguage(language) {
      this.$store.dispatch("setAppLang", language);
    },
    async confirmDeletion() {
      const alert = await alertController.create({
        message:
          "<strong>" +
          this.t(
            "settings_page.confirm_deletion_message",
            {},
            { locale: this.$store.state.appLang }
          ) +
          "</strong>",
        buttons: [
          {
            text: this.t(
              "actions.cancel",
              {},
              { locale: this.$store.state.appLang }
            ),
            role: "cancel",
          },
          {
            text: this.t(
              "actions.confirm",
              {},
              { locale: this.$store.state.appLang }
            ),
            role: "confirm",
            handler: () => {
              this.deleteAccount();
            },
          },
        ],
        backdropDismiss: false,
      });
      return alert.present();
    },
    async deleteAccount() {
      try {
        const response = await usersService.deleteAccount();
        if (response.status === 200) {
          this.$store.dispatch("setUser", null);
          this.$router.push({ name: "Login" });
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
  },
});
</script>

