<template>
  <ion-page>
    <page-top-bar
      :title="`${t('supporters_page.title', {}, { locale: $store.state.appLang })}`"
      :needBackButton="true"
    />
    <ion-content v-if="supportersFetched" class="ion-padding">
      <div v-if="supporters.length">
        <ion-list class="pt-0 pb-0">
          <ion-item
            class="no-padding-item text-center clickable-cursor"
            v-for="supporter in supporters"
            :key="supporter"
          >
            <user
              @click="redirectUser(supporter.id)"
              :username="supporter.fullname"
              :profilePictureUrl="supporter.profile_picture_url"
            />
          </ion-item>
        </ion-list>
        <ion-infinite-scroll
          @ionInfinite="loadData($event)"
          id="infinite-scroll"
        >
          <ion-infinite-scroll-content />
        </ion-infinite-scroll>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonItem,
  IonList,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
  IonContent,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import User from "../components/User";
import PageTopBar from "../components/PageTopBar";
import { useI18n } from "vue-i18n";
import postsService from "../services/posts";
import toastService from "../services/toast";

export default defineComponent({
  name: "SupportersList",
  components: {
    IonPage,
    IonItem,
    IonList,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
    User,
    PageTopBar,
    IonContent,
  },
  setup() {
    const { t, locale } = useI18n();
    const supportersFetched = ref(false);
    const supporters = ref([]);
    return {
      t,
      locale,
      supportersFetched,
      supporters,
    };
  },
  methods: {
    async loadData(event) {
      const currentNumberOfSupporters = this.supporters.length;
      const postId = this.$route.params.postId;
      try {
        const response = await postsService.getSupporters(
          postId,
          currentNumberOfSupporters
        );
        if (response.status === 200) {
          const loadedSupporters = response.data;
          if (loadedSupporters.length) {
            this.supporters.push(...loadedSupporters);
          }
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
      event.target.complete();
    },
    async setSupporters() {
      try {
        const postId = this.$route.params.postId;
        const response = await postsService.getSupporters(postId);
        if (response.status === 200) {
          this.supporters = response.data;
          this.supportersFetched = true;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
    redirectUser(userId) {
      this.$router.push({ name: "Profile", params: { userId: userId } });
    },
  },
  async mounted() {
    await this.setSupporters();
  },
});
</script>