<template>
  <ion-page>
    <page-top-bar
      :title="`${t('creation_goal.header', {}, { locale: $store.state.appLang })}`"
    />
    <ion-content>
      <div class="p-5 pb-20 empty-content">
        <div>
          <ion-text class="flex justify-center text-left mb-3">
            {{ t("creation_goal.type_description", {}, { locale: $store.state.appLang }) }}
          </ion-text>
        </div>
        <div class="flex relative justify-center text-left">
          <ion-textarea
            maxlength="255"
            :auto-grow="true"
            class="no-padding-input text-left border m-2 min-h-full"
            v-model="$store.state.createdGoal.description"
          />
          <ion-text
            color="medium"
            v-if="$store.state.createdGoal.description"
            class="absolute bottom-0 right-0 pb-1 pr-2 text-xs"
          >
            {{ 255 - $store.state.createdGoal.description.length }}
          </ion-text>
        </div>
        <div class="flex justify-around text-left mt-10">
          <ion-button @click="goBackToTitleCreation" class="flex">
            {{ t("creation_goal.previous", {}, { locale: $store.state.appLang }) }}
          </ion-button>
          <ion-button
            :disabled="!$store.state.createdGoal.description"
            @click="goToStepsCreation"
            class="flex"
          >
            {{ t("creation_goal.next", {}, { locale: $store.state.appLang }) }}
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import { IonText, IonButton, IonContent, IonPage, IonTextarea } from "@ionic/vue";
import { useI18n } from "vue-i18n";
import PageTopBar from "../../components/PageTopBar.vue";
import firebaseAnalyticsService from "../../services/firebase-analytics";

export default defineComponent({
  components: {
    PageTopBar,
    IonButton,
    IonContent,
    IonPage,
    IonText,
    IonTextarea
  },
  setup() {
    const { t, locale } = useI18n();
    const description = ref("");
    return {
      t,
      locale,
      description,
    };
  },
  methods: {
    goBackToTitleCreation() {
      this.$router.back();
    },
    goToStepsCreation() {
      this.$router.push({ name: "CreationGoalSteps" });
    },
  },
  mounted() {
    firebaseAnalyticsService.logEvent("goal_creation_description_page");
  },
});
</script>

<style scoped>
.border {
  border: var(--ion-color-primary) solid 1px;
  border-radius: 10px;
}

ion-input {
  --padding-end: 5px;
  --padding-start: 5px;
  margin-right: 20px;
  margin-left: 20px;
}
</style>
