<template>
  <ion-page>
    <page-top-bar
      :title="`${t('creation_goal.header', {}, { locale: $store.state.appLang })}`"
    />
    <ion-content>
      <div class="p-5 pb-20 empty-content">
        <div class="flex flex-col justify-center">
          <ion-button
            :fill="
              $store.state.createdGoal.status === 'TODO' ? 'outline' : 'solid'
            "
            @click="$store.state.createdGoal.status = 'TODO'"
          >
            {{ t("goal_page.todo_status", {}, { locale: $store.state.appLang }) }}
          </ion-button>
          <ion-button
            :fill="
              $store.state.createdGoal.status === 'ONGOING'
                ? 'outline'
                : 'solid'
            "
            @click="$store.state.createdGoal.status = 'ONGOING'"
          >
            {{ t("goal_page.ongoing_status", {}, { locale: $store.state.appLang }) }}
          </ion-button>
          <ion-button
            :fill="
              $store.state.createdGoal.status === 'DONE' ? 'outline' : 'solid'
            "
            @click="$store.state.createdGoal.status = 'DONE'"
          >
            {{ t("goal_page.done_status", {}, { locale: $store.state.appLang }) }}
          </ion-button>
        </div>
        <div class="flex justify-around text-left mt-10">
          <ion-button @click="goBackToStepsCreation" class="flex">
            {{ t("creation_goal.previous", {}, { locale: $store.state.appLang }) }}
          </ion-button>
          <ion-button
            color="success"
            :disabled="!$store.state.createdGoal.status"
            @click="createGoal"
            class="flex"
          >
            {{ t("creation_goal.finish", {}, { locale: $store.state.appLang }) }}
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import { IonButton, IonContent, IonPage } from "@ionic/vue";
import { useI18n } from "vue-i18n";
import goalsService from "../../services/goals";
import toastService from "../../services/toast";
import PageTopBar from "../../components/PageTopBar.vue";
import firebaseAnalyticsService from "../../services/firebase-analytics";

export default defineComponent({
  components: {
    PageTopBar,
    IonButton,
    IonContent,
    IonPage,
  },
  setup() {
    const { t, locale } = useI18n();
    const status = ref("");
    return {
      t,
      locale,
      status,
    };
  },
  methods: {
    goBackToStepsCreation() {
      this.$router.back();
    },
    async createGoal() {
    firebaseAnalyticsService.logEvent("goal_creation_finish");
      let { steps, ...goalWhitoutSteps } = this.$store.state.createdGoal;
      try {
        const response = await goalsService.create(goalWhitoutSteps, steps);
        if (response.status === 200) {
          this.$router.push({ name: "Goals" });
          this.$store.dispatch("deleteCreatedGoal");
        } else {
          await this.openErrorToast();
        }
      } catch {
        await this.openErrorToast();
      }
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
  },
  mounted() {
    firebaseAnalyticsService.logEvent("goal_creation_status_page");
  },
});
</script>

<style scoped>
.border {
  border: var(--ion-color-primary) solid 1px;
  border-radius: 10px;
}

ion-input {
  --padding-end: 5px;
  --padding-start: 5px;
  margin-right: 20px;
  margin-left: 20px;
}
</style>
