<template>
  <ion-page>
    <page-top-bar
      :title="`${t('creation_goal.header', {}, { locale: $store.state.appLang })}`"
    />
    <ion-content>
      <div class="mt-10">
        <ion-list class="w-full">
          <ion-item
            v-for="(step, index) in $store.state.createdGoal.steps"
            :key="`${index}`"
            lines="none"
          >
            <span style="word-break: break-word" class="ml-2 text-center">
              {{ step.description }}
            </span>
            <div class="flex flex-1 justify-end items-center">
              <ion-icon
                @click="confirmStepDeletion(index)"
                color="danger"
                class="w-8 h-8"
                :icon="removeCircle"
              />
            </div>
          </ion-item>
        </ion-list>
        <div class="p-5 mb-10">
          <div>
            <ion-text class="flex justify-center mb-3">
              {{
                t("creation_goal.type_step_details", {}, { locale: $store.state.appLang })
              }}
            </ion-text>
          </div>
          <div class="flex relative justify-center items-center">
            <ion-input v-model="currentStep" class="border" maxlength="70" />
            <ion-text
              color="medium"
              v-if="currentStep.length"
              class="absolute bottom-0 right-0 pr-12 text-xs"
            >
              {{ 70 - currentStep.length }}
            </ion-text>
            <ion-icon
              @click="addCurrentStep"
              color="primary"
              class="w-8 h-8 ml-2"
              v-if="currentStep"
              :icon="addCircle"
            />
          </div>
          <div class="flex justify-around text-left mt-10">
            <ion-button @click="goBackToDescriptionCreation" class="flex">
              {{ t("creation_goal.previous", {}, { locale: $store.state.appLang }) }}
            </ion-button>
            <ion-button @click="goToStatusCreation" class="flex">
              {{ t("creation_goal.next", {}, { locale: $store.state.appLang }) }}
            </ion-button>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import { addCircle, removeCircle } from "ionicons/icons";
import {
  IonInput,
  IonText,
  IonContent,
  IonPage,
  IonList,
  IonItem,
  IonButton,
  IonIcon,
} from "@ionic/vue";
import { useI18n } from "vue-i18n";
import PageTopBar from "../../components/PageTopBar.vue";
import firebaseAnalyticsService from "../../services/firebase-analytics";

export default defineComponent({
  components: {
    PageTopBar,
    IonInput,
    IonItem,
    IonList,
    IonContent,
    IonButton,
    IonIcon,
    IonPage,
    IonText,
  },
  setup() {
    const { t, locale } = useI18n();
    const currentStep = ref("");
    return {
      t,
      locale,
      addCircle,
      removeCircle,
      currentStep,
    };
  },
  methods: {
    goBackToDescriptionCreation() {
      this.$router.back();
    },
    goToStatusCreation() {
      this.$router.push({ name: "CreationGoalStatus" });
    },
    addCurrentStep() {
      this.$store.state.createdGoal.steps.push({
        description: this.currentStep,
      });
      this.currentStep = "";
    },
    confirmStepDeletion(stepIndex) {
      this.$store.state.createdGoal.steps.splice(stepIndex, 1);
    },
  },
  mounted() {
    firebaseAnalyticsService.logEvent("goal_creation_steps_page");
  },
});
</script>

<style scoped>
.border {
  border: var(--ion-color-primary) solid 1px;
  border-radius: 10px;
}

ion-input {
  --padding-end: 5px;
  --padding-start: 5px;
}
</style>
