/* Replace the cursor to show that element is clickable */
.clickable-cursor {
  cursor: pointer;
}

.empty-content {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.border {
  border: var(--ion-color-primary) solid 1px;
  border-radius: 10px;
}

.comment-content {
  word-break: break-word;
  white-space: pre-line;
}

.no-padding {
  border-radius: 10px;
  --padding-top: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-bottom: 5px;
  --background: var(--ion-color-bg-comment-input);
}

.h-7 {
  height: 1.75rem;
}

.w-7 {
  width: 1.75rem;
}

.bg-light-purple {
  background: var(--ion-color-bg-light-purple);
}

.border-top {
  border-top: solid 1px #c4c4c4;
}

.clickable {
  pointer-events: auto !important;
}

.goal-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-padding-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}
